<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src="/static/wap/js/jquery.min.js"  type="text/javascript"></script> 
 
<link type="text/css" rel="stylesheet" href="/static/wap/css/main.css?07201"/>
<title>好友列表</title>
</head>

<body class="body"> 
    <header class="top">
        <ul> 
            <li><a href="/user/list">聊天详细</a></li> 
        </ul>
    </header>

<div class="member">
    <div class="box">
        <ul> 
            <li style="line-height:1rem;"> 
                <div class="fl">
                    <img src="/static/wap/img/portrait.jpg" alt="头像"  > 
                    <br/>
                    <span>aaa</span>
                </div>  
                <div class="fl">
                    <img src="/static/wap/img/portrait.jpg" alt="头像"  >
                    <br/>
                    <span>bbbbb</span>
                 </div> 
            </li>
                
        </ul>    
    </div> 

    <div class="box">
        <ul> 
            <li>  
                <div><a href="/room/history"> 历史记录 </a></div>  
            </li> 
        </ul>    
    </div> 

    <div class="box">
        <ul> 
            <li>  
                <div><a href="#"> 投诉 </a></div>  
            </li> 
        </ul>    
    </div> 

    <div class="box">
        <ul> 
            <li>  
                <div><a href="#"> 退出群聊 </a></div>  
            </li> 
        </ul>    
    </div> 
</div>
 
{(mg/footer.html)} 
