<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

<link type="text/css" rel="stylesheet" href="/static/wap/css/main.css?07201"/>
<title>demo</title>
</head>

<body class="body"> 
    <header class="top">
        <ul> 
            <li style="width: 25%;" > <a  href="/index"> 首页</a>  </li>
            <li style="width: 50%;"> <a href="/group/list"> 群组</a>  </li> 
            <li style="width: 25%;" > <a  href="/user/index">我的</a> </li>
        </ul>
    </header>