<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" /> 
    <meta content="width=device-width,target-densitydpi=high-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title>聊天</title>
    <link href="/static/wap/css/main.css" rel="stylesheet" /> 
    <link href="/static/wap/css/index.css" rel="stylesheet" /> 
</head>

<body class="body" ondblclick="return false;"> 
    <header class="top"> 
        <ul>
            <li style="width: 25%;" > <a sclass="fl navBtn" href="/group/list"> << </a> </li>
            <li style="width: 50%;"><a class="title" id="top_title">......</a> </li>
            <li style="width: 25%;" ><a class="fr navBtn" id="top_href" href="#">.....</a> </li>
        </ul> 
    </header>
    
    <div class="member">
        <div id="messageList" style="padding:10px 10px 0; overflow-y:auto;  overflow-x: hidden;  flex: 1;  ">  
            
        </div>
    </div>  
    
    <footer class="footer">  
        <div id="face_box" class="face_box hide">
            <ul class="face_box_head">  
                <li class="face_box_head_item active" data-i="0">  
                    <a href="javascript:;">QQ表情</a>  
                </li>  
                <li class="face_box_head_item" data-i="1">  
                    <a href="javascript:;">图片</a>  
                </li>  
                <!--
                <li class="face_box_head_item" data-i="2">  
                    <a href="javascript:;">待开发</a>  
                </li>  
                -->
            </ul>  
            
            <div class="face_box_body">    
                 <div id="face_box_body_qq" class="face_box_body_item active"> 
					<a title="微笑"><img src="/static/wap/img/qq/100.png" /></a> 
					<a title="撇嘴"><img src="/static/wap/img/qq/101.png" /></a> 
					<a title="色"><img src="/static/wap/img/qq/102.png" /></a> 
					<a title="发呆"><img src="/static/wap/img/qq/103.png" /></a>
					<a title="得意"><img src="/static/wap/img/qq/104.png" /></a> 
					<a title="害羞"><img src="/static/wap/img/qq/105.png" /></a> 
					<a title="尴尬"><img src="/static/wap/img/qq/106.png" /></a>  
					<a title="调皮"><img src="/static/wap/img/qq/107.png" /></a>  
				    <a title="呲牙"><img src="/static/wap/img/qq/108.png" /></a>
				    <a title="惊讶"><img src="/static/wap/img/qq/109.png" /></a>
				    <a title="酷"><img src="/static/wap/img/qq/110.png" /></a> 
			        <a title="冷汗"><img src="/static/wap/img/qq/111.png" /></a>  
				    <a title="偷笑"><img src="/static/wap/img/qq/112.png" /></a>
				    <a title="白眼"><img src="/static/wap/img/qq/113.png" /></a> 
				 </div> 
				  
                <div id="face_box_body_pic"  class="face_box_body_item">
                    <a id="face_box_body_pic_a" style=" border: 1px solid rgb(61, 127, 222); height: 34px; border-radius: 3px; color: rgb(61, 127, 222); display: inline-block; line-height: 34px; margin-left: 15px; text-align: center; width: 110px; position: relative;" >   
                        上传图片                
                        <input id="face_box_body_pic_file" type="file" 
                           style="width: 110px;opacity: 0;position: absolute;left: 0px;top: 0px;cursor: pointer;height: 100%;" 
                           url='/upload/file'
                           path="Filedata" 
                           name="Filedata" 
                         >
                    </a> 
                </div>  
                <!--
                <div id="face_box_body_audio"  class="face_box_body_item"> 
                    <a style="border: 1px solid rgb(61, 127, 222); height: 34px; border-radius: 3px; color: rgb(61, 127, 222); display: inline-block; line-height: 34px; margin-left: 15px; text-align: center; width: 110px; position: relative;" >  
                            待开发 
                         <input id="face_box_body_audio_file"  type="file" 
                           style="width: 110px;opacity: 0;position: absolute;left: 0px;top: 0px;cursor: pointer;height: 100%;"
                           path='Filedata' 
                           url='/upload/file' 
                           name="Filedata">
                    </a> 
                </div>
            -->
           </div>
        </div>  
        
        <div class="console_box">  
            <div class="console_box_left">  
                <pre id="console_box_input" class="console_box_input" contenteditable="true"></pre>  
            </div>
            <button href="javascript:;" class="console_box_center" id="console_box_center">工具</button>   
            <button href="javascript:;" class="console_box_right" id="console_box_right">发送</button>  
        </div>  
    </footer> 
    <script src="/static/wap/js/jquery.min.js"  type="text/javascript"></script>  
    <script src="/static/wap/js/ajaxfileupload.js"  type="text/javascript"></script>  
    <script src="/static/wap/js/goim.js?442333313"  type="text/javascript"></script>   
    <script type="text/javascript">
 
        _.init({});

    </script>
</body>  
</html>  
