{(mg/header.html)} 
 
<div class="member">
  <form id="myform" method="get">
      <div class="box" style=" text-align: left;">
          <ul>
              <li><span>讨论组id：</span> 
                  <input type="text" id="group_id"   disabled="disabled" 
                      name="group_id" class="text" value="{{data['group_id']}}"/>
              </li>
                  
              <li>
                  <span>名称: </span> 
                  <input type="text" id="name"   disabled="disabled" 
                  name="name" class="text" value="{{data['name']}}"/>             
              </li> 
               
          </ul>  
      </div>
  
      <div class="cr"></div>
      <span id="doreg" class="submit">加入</span> 
  </form> 
  <div class="clear"></div>
</div>

<script src="/static/wap/js/jquery.min.js"  type="text/javascript"></script> 
<script type="text/javascript">
  var User = {
    flag : true,
    init : function() {
        var self = this;
        $('#doreg').click(function(){   
            self.submit();
        })
    },
    submit : function() {
        var self = this;   
        var data = {};  
        data['group_id'] =  $("#group_id").val(); 
           
        if (! data['group_id']) {
             self.alert('参数错误');
             return;
        }
        
        if (!self.flag) {
            return;
        }
        self.flag = false;  
        $.post('/group/add', data, function(res) {
            self.flag = true;
            if (res.success) { 
              location.href = "/group/list"; 
              return
            }
            self.alert(res.msg);
        }, 'JSON');
    },
    alert : function(msg) {
        var domsg = $("#domsg"); 
        if (domsg.length < 1)
        {
            domsg = document.createElement("div");
            domsg.id = "domsg";
            domsg.className = "popupWindow";
            var string = '<div class="hint"><div class="text" id="msgtext" style="padding: 20px 0;" >'+ msg +'</div>';
            string += '<div class="btnBox"><a class="btnStyle btn01" id="doconfig" style="width: 100%;" >确定</a>';
            string += '</div></div>';
            domsg.innerHTML = string;           
            document.body.appendChild(domsg);
            
            $("#doconfig").click(function() {
                $("#domsg").css("display","none"); 
            });
        }
        $("#domsg").css("display","block");  
        $("#msgtext").html(msg);
    }
  }
  User.init();
</script>
 
{(mg/footer.html)} 