@charset "utf-8";
/*CSS public 2015.04.17*/
/*标签格式化*/
body{margin:0;padding:0;font:12px/1.5 'Helvetica Neue',Helvetica,Arial,微软雅黑,sans-serif;color:#4d4d4d;}
input,button{font-family:微软雅黑,arial;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,figure{padding:0;margin:0;}
ol,ul{list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
em,i{font-style:normal;}
iframe{margin:0;padding:0;vertical-align:top;}
/*链接样式*/
a{color:#666;text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{color:#d01162;text-decoration:none;}
a:active{color:#d01162;}
/*字体颜色*/
.cGreen,.cGreen:visited,.cGreen a,.green{color:#6b9333;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a,a.cRed{color:#b12a31;}
.cRed2,.cRed2:visited,.cRed2 a,a.cRed{color:#fe4241;}
.cDRed,.cDRed:visited,.cDRed a{color:#d00f63;}
.cDRed a:hover,a.cDRed:hover{color:#ba2636;}
.cPlum,.cPlum:visited,.cPlum a,.cPlum a:hover,a.cPlum:hover{color:#eb3e90;}
.cPlum2,.cPlum2:visited,.cPlum2 a{color:#f660a0;}
.cGray,.cGray:visited,.cGray a,a.cGray{color:#acacac;}
/*框架布局*/
.w{clear:both;width:1000px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.ovH{overflow:hidden;}
.poR{position:relative;}
/*文本对齐*/
.tL{text-align:left;}
.tR{text-align:right;}
/*间距*/
.mt10{margin-top:10px;}.mr10{margin-right:10px;}.mb10{margin-bottom:10px;}.ml10{margin-left:10px;}
.mt20{margin-top:20px;}.mr20{margin-right:20px;}.mb20{margin-bottom:20px;}.ml20{margin-left:20px;}
.mt30{margin-top:30px;}.mr30{margin-right:30px;}.mb30{margin-bottom:30px;}.ml30{margin-left:30px;}
.mt40{margin-top:40px;}.mr40{margin-right:40px;}.mb40{margin-bottom:40px;}.ml40{margin-left:40px;}
/*清除浮动*/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix {display: block;}
.center { text-align: center;}
