 
.hide {  display: none;   }  

 
/*信息*/  
.member {
    top: 10%;
    bottom: 5%; 
    position: absolute;  
    background-color: #eee;   
    overflow: hidden;  
    display: flex;  
    flex-flow: column;  
    height:85%;
    width: 100%;
 }

.member .message {  
    margin-bottom: 2%;  
    float: left;
    width: 100%; 
}  

.member .message .avatar {
    width: 40px;  
    height: 40px; 
    float: left;  
    cursor: pointer;  
}

.member .message .nickname { 
    padding-left: 10px;  
    font-size: 12px;  
    color: #4f4f4f;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}  
  
.member .message .nickname .time {  
    margin-left: 10px;  
 }


.member .message .content {overflow: hidden;}  

.member .message .content .bubble {
    display: inline-block;
    text-align: left;
    border-radius: 3px;
    margin: 0 2%;
    padding: 10px;
    display:block;
}  

/**别人说的话背景色**/
.member .message .content .bubble_default {
    background-color: #fff;  
    display: inline-block;
}
.member .message .content .bubble_default.transparent{
    background-color: inherit !important; /* 代表优先级最高 不会被覆盖*/
}
  

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    overflow: auto;
    word-break: break-word;
    word-wrap: normal; 
}


.member .message .content .bubble.bubble_primary {  
    background-color: #b2e281; 
    display: inline-block;
} 

.member .message .content .bubble.bubble_primary.transparent{
    background-color: inherit !important; /* 代表优先级最高 不会被覆盖*/
}
  

.member .message .content .bubble .msg-img {
    max-width: 100%;  
    display:block;
}


/******自己发送的消息靠右 start******/
.member .me {
    float: right;  
    text-align: right;  
    clear: right;  
}  
.member .me .nickname {
    padding-right: 10px;  
}  

.member .me .nickname .time {  
    margin-right: 10px;  
}

.member .me .avatar {
    float: right;  
}
/******自己发送的消息靠右 end******/


.footer {
    background-color: white;
    border-top: 1px solid #ccc;
    bottom: 0;
    height: 5%;
    position: fixed;
    width: 100%;
}
    
.footer .console_box { 
    display: flex;  
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5%;
}
    
.footer .console_box button{text-decoration: none;}
.footer .console_box .console_box_left {border: 1px solid #ccc;width: 70%;}

.footer .console_box .console_box_left .console_box_input {
    overflow-y: auto;  
    overflow-x: hidden;  
    outline: 0;   
    font-size: 14px;  
    padding: 0 5px;  
    max-height: 2em;  
    line-height: 1.4;  
    margin-top: 5px;  
    height:1.5em;
    -webkit-user-modify: read-write-plaintext-only; /**表示只允许输入纯文本**/
}

.footer .console_box .console_box_center {
    border-radius: 4px;
    font-size: 12px;  
    width: 15%;
}  
    
.footer .console_box .console_box_right {
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px; 
    width: 15%;
}
    
/* 表情栏目切换start */
.footer .face_box{
    bottom: 5%;
    position: fixed;
    width: 100%;
}

.footer .face_box .face_box_head {  
    overflow: hidden;  
    background-color: #F2F2F2;  
}  

.footer .face_box .face_box_head .face_box_head_item {  
   float: left;  
}

.footer .face_box .face_box_head .face_box_head_item.active {  
    background-color: #fff;  
    border-top-left-radius: 4px;  
    -moz-border-radius-topleft: 4px;  
    -webkit-border-top-left-radius: 4px;  
    border-top-right-radius: 4px;  
    -moz-border-radius-topright: 4px;  
    -webkit-border-top-right-radius: 4px;  
}  
    
.footer .face_box .face_box_head .face_box_head_item a {  
    display: block;  
    text-decoration: none;  
    color: #333;  
    padding: 5px 10px;  
    font-size: 14px;  
}  
/* 表情栏目切换end */

/* 表情内容start */  
.footer .face_box .face_box_body {   overflow: auto;   background-color: #fff; }  

.footer .face_box .face_box_body .face_box_body_item {  
    display: none;  
    height:200px;  
    padding: 10px 0;  
    min-height: 50px;  
    overflow-x: hidden;  
    overflow-y: auto;  
}  

.footer .face_box .face_box_body .face_box_body_item.active {  
    display: block;  
} 
/*信息end*/  

    
/*表情end*/ 
::-webkit-scrollbar {
    width: 6px;  
    height: 6px;  
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;  
    -moz-border-radius: 3px;  
    -webkit-border-radius: 3px;  
    background-color: #c3c3c3;  
}
    
::-webkit-scrollbar-track {
    background-color: transparent;  
}  
