@CHARSET "UTF-8";
* {margin:0; padding:0;}
html {
    -ms-text-size-adjust: 100%;  
    -webkit-text-size-adjust: 100%;  
    height: 100%;  
}
body { 
    -webkit-font-smoothing: antialiased;  
    line-height: 1.6;  
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;  
    height: 100%;
	font-size:14px;
}      
input, textarea, button, a {  
    outline: 0;  
}  
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {  
    margin: 0;  
}
fieldset, legend, textarea, input {  
    padding: 0;  
}
ul, ol {  
    padding-left: 0;  
    list-style-type: none;  
}  
a img, fieldset {  
    border: 0;  
}  
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {  
    display: block;  
}  
audio, canvas, video {  
    display: inline-block;  
}  
audio:not([controls]) {  
    display: none;  
    height: 0;  
}

.hide {
    display: none;  
}  
svg:not(:root) {overflow: hidden; }  
figure { margin: 0;  }  
button, input, select, textarea {   font-family: inherit;  font-size: 100%;margin: 0;  }  
button, select {     text-transform: none;  }  
button, html input[type=button], input[type=reset], input[type=submit] { cursor: pointer;  -webkit-appearance: button;  }  
button[disabled], html input[disabled] { cursor: default;}   
input[type=checkbox], input[type=radio] { box-sizing: border-box;padding: 0;  }   
input[type=search] {  box-sizing: content-box; -moz-box-sizing: content-box; -webkit-appearance: textfield;   -webkit-box-sizing: content-box;  }    
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none;  }  
button::-moz-focus-inner, input::-moz-focus-inner {   border: 0; padding: 0;}   
textarea {    overflow: auto;vertical-align: top;    resize: none;  }  
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {box-shadow: inset 0 0 0 1000px #fff;   -moz-box-shadow: inset 0 0 0 1000px #fff; -webkit-box-shadow: inset 0 0 0 1000px #fff;   }  
    
select { border-radius: 0;  -webkit-border-radius: 0;}  
img{ vertical-align: middle; }   

.body .top {background-color: #486590;color: #fff;height: 5%; text-align: center; line-height: 2rem;  position: fixed;width: 100%;}

.body .top ul li{
	display: block;
    float:left; 
}

.body .top ul li a{text-decoration:none;}

.popupWindow {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; }
	
.popupWindow .hint {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    position: absolute;
    width: 80%;
    margin: 0 10%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.25rem;
    font-size: 0.75rem; }
	
.popupWindow .hint .title {
    padding-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold; 
}
   
.popupWindow .hint .text {
    padding: 0.5rem; }
    
.popupWindow .hint .btnBox {
    border-top: 1px solid #999;
    font-size: 0; }
    
.popupWindow .hint .btnBox a {
    width: 49.5%;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 2rem; }
      	
.popupWindow .hint .btnBox a.btn01 {border-right: 1px solid #999;color: #C00; }
.popupWindow .hint .btnBox a.btn02 {color: #06C; }

 

/*信息*/  
.main_box {
    top: 5%;
    bottom: 5%; 
    position: relative;  
    background-color: #eee;   
    overflow: hidden;  
    display: flex;  
    flex-flow: column;  
    height:90%;
 }

.main_box .message {  
    margin-bottom: 2%;  
    float: left;
    width: 100%; 
}  

.main_box .message .avatar {
    width: 40px;  
    height: 40px; 
    float: left;  
    cursor: pointer;  
}

.main_box .message .nickname { 
    padding-left: 10px;  
    font-size: 12px;  
    color: #4f4f4f;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}  
  
.main_box .message .nickname .time {  
    margin-left: 10px;  
 }


.main_box .message .content {overflow: hidden;}  

.main_box .message .content .bubble {
    display: inline-block;
    text-align: left;
    border-radius: 3px;
    margin: 0 2%;
    padding: 10px;
    display:block;
}  

/**别人说的话背景色**/
.main_box .message .content .bubble_default {
    background-color: #fff;  
    display: inline-block;
}
.main_box .message .content .bubble_default.transparent{
    background-color: inherit !important; /* 代表优先级最高 不会被覆盖*/
}
  

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    overflow: auto;
    word-break: break-word;
    word-wrap: normal; 
}


.main_box .message .content .bubble.bubble_primary {  
    background-color: #b2e281; 
    display: inline-block;
} 

.main_box .message .content .bubble.bubble_primary.transparent{
    background-color: inherit !important; /* 代表优先级最高 不会被覆盖*/
}
  

.main_box .message .content .bubble .msg-img {
    max-width: 100%;  
    display:block;
}


/******自己发送的消息靠右 start******/
.main_box .me {
    float: right;  
    text-align: right;  
    clear: right;  
}  
.main_box .me .nickname {
    padding-right: 10px;  
}  

.main_box .me .nickname .time {  
    margin-right: 10px;  
}

.main_box .me .avatar {
    float: right;  
}
/******自己发送的消息靠右 end******/


.footer {
    background-color: white;
    border-top: 1px solid #ccc;
    bottom: 0;
    height: 5%;
    position: fixed;
    width: 100%;
}
    
.footer .console_box { 
    display: flex;  
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5%;
}
    
.footer .console_box button{text-decoration: none;}
.footer .console_box .console_box_left {border: 1px solid #ccc;width: 80%;}

.footer .console_box .console_box_left .console_box_input {
    overflow-y: auto;  
    overflow-x: hidden;  
    outline: 0;   
    font-size: 14px;  
    padding: 0 5px;  
    max-height: 2em;  
    line-height: 1.4;  
    margin-top: 5px;  
    height:1.5em;
    -webkit-user-modify: read-write-plaintext-only; /**表示只允许输入纯文本**/
}

.footer .console_box .console_box_center {
    border-radius: 4px;
    font-size: 14px;  
    width: 10%;
}  
    
.footer .console_box .console_box_right {
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; 
    width: 10%;
}
    
/* 表情栏目切换start */
.footer .face_box{
    bottom: 5%;
    position: fixed;
    width: 100%;
}

.footer .face_box .face_box_head {  
    overflow: hidden;  
    background-color: #F2F2F2;  
}  

.footer .face_box .face_box_head .face_box_head_item {  
   float: left;  
}

.footer .face_box .face_box_head .face_box_head_item.active {  
    background-color: #fff;  
    border-top-left-radius: 4px;  
    -moz-border-radius-topleft: 4px;  
    -webkit-border-top-left-radius: 4px;  
    border-top-right-radius: 4px;  
    -moz-border-radius-topright: 4px;  
    -webkit-border-top-right-radius: 4px;  
}  
    
.footer .face_box .face_box_head .face_box_head_item a {  
    display: block;  
    text-decoration: none;  
    color: #333;  
    padding: 5px 10px;  
    font-size: 14px;  
}  
/* 表情栏目切换end */

/* 表情内容start */  
.footer .face_box .face_box_body {   overflow: auto;   background-color: #fff; }  

.footer .face_box .face_box_body .face_box_body_item {  
    display: none;  
    height:200px;  
    padding: 10px 0;  
    min-height: 50px;  
    overflow-x: hidden;  
    overflow-y: auto;  
}  

.footer .face_box .face_box_body .face_box_body_item.active {  
    display: block;  
} 
/*信息end*/  

    
/*表情end*/ 
::-webkit-scrollbar {
    width: 6px;  
    height: 6px;  
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;  
    -moz-border-radius: 3px;  
    -webkit-border-radius: 3px;  
    background-color: #c3c3c3;  
}
    
::-webkit-scrollbar-track {
    background-color: transparent;  
}  
