@charset "UTF-8";

/*字体样式*/ 
.feB {font-weight: bold; } 
.ui-loader {display: none; } 
input[type=button], input[type=submit], button{-webkit-appearance: none;  outline: none; }
html {font-size: 20px; }


/*标签格式化*/
body{margin:0;padding:0;font:12px/1.5 'Helvetica Neue',Helvetica,Arial,微软雅黑,sans-serif;color:#4d4d4d;}
input,button{font-family:微软雅黑,arial;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,figure{padding:0;margin:0;}
ol,ul{list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
em,i{font-style:normal;}
iframe{margin:0;padding:0;vertical-align:top;}

/*链接样式*/
a{color:#666;text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{color:#d01162;text-decoration:none;}
a:active{color:#d01162;}

/*字体颜色*/
.cGreen,.cGreen:visited,.cGreen a,.green{color:#6b9333;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a,a.cRed{color:#b12a31;}
.cRed2,.cRed2:visited,.cRed2 a,a.cRed{color:#fe4241;}
.cDRed,.cDRed:visited,.cDRed a{color:#d00f63;}
.cDRed a:hover,a.cDRed:hover{color:#ba2636;}

.cPlum,.cPlum:visited,.cPlum a,.cPlum a:hover,a.cPlum:hover{color:#eb3e90;}
.cPlum2,.cPlum2:visited,.cPlum2 a{color:#f660a0;}
.cGray,.cGray:visited,.cGray a,a.cGray{color:#acacac;}

/*框架布局*/
.w{clear:both;width:1000px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.ovH{overflow:hidden;}
.poR{position:relative;}

/*文本对齐*/
.tL{text-align:left;}
.tR{text-align:right;}

/*间距*/
.mt10{margin-top:10px;}.mr10{margin-right:10px;}.mb10{margin-bottom:10px;}.ml10{margin-left:10px;}
.mt20{margin-top:20px;}.mr20{margin-right:20px;}.mb20{margin-bottom:20px;}.ml20{margin-left:20px;}
.mt30{margin-top:30px;}.mr30{margin-right:30px;}.mb30{margin-bottom:30px;}.ml30{margin-left:30px;}
.mt40{margin-top:40px;}.mr40{margin-right:40px;}.mb40{margin-bottom:40px;}.ml40{margin-left:40px;}
/*清除浮动*/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix {display: block;}
.center { text-align: center;} 
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { html {font-size: 23.4px; } }
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { html {font-size: 25.8px; } }

.popupWindow {background-color: rgba(0, 0, 0, 0.5); position: fixed; top: 0;left: 0;width: 100%;height: 100%;z-index: 999; }
.popupWindow .hint { background-color: rgba(255, 255, 255, 0.9); text-align: center; position: absolute; width: 80%; margin: 0 10%; top: 50%; transform: translateY(-50%); border-radius: 0.25rem;font-size: 0.75rem; }
.popupWindow .hint .title {padding-top: 0.5rem;font-size: 0.9rem;font-weight: bold; }
.popupWindow .hint .text {padding: 0.5rem; }
.popupWindow .hint .btnBox {border-top: 1px solid #999; font-size: 0; }
.popupWindow .hint .btnBox a { width: 49.5%; display: inline-block; font-size: 0.75rem; line-height: 2rem; }
.popupWindow .hint .btnBox a.btn01 { border-right: 1px solid #999; color: #C00; }
.popupWindow .hint .btnBox a.btn02 { color: #06C; }

.member{ width: 95%; margin: 0 auto; }
.member .box{  margin:0 auto; color: #ff3701;  border-radius:5px;  margin-top: 10px; background:#FFF;  }
.member input{vertical-align: middle;line-height: normal; border:none; outline:none; list-style:none; background:none; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.member p {height:50px; line-height:50px;  display: block; border-bottom:#ececec 1px solid; padding: 0 10px}
.member p .text {  color:#000; font-size:16px; color:#555; line-height: 30px; padding: 10px 0; width:100%; float: left;  }
.member p .send { float: right; width:100px; height:40px; background: #923c3d; color: #fff; line-height: 40px; border: 0; border-radius:5px; text-align: center; font-size: 16px; margin-top: 5px;}
.member p .nosend { float: right; width:100px; height:40px; background: #c0c0c0; color: #666; line-height: 40px; border: 0; border-radius:5px; text-align: center; font-size: 16px; margin-top: 5px;}
.member .dobind { clear: both; width: 100%; margin: 0 auto; margin-top: 20px; background-color: #ff512f; color: #fff; font-size: 20px; text-align: center; height: 50px; }
.member .cbox { background: #fff; margin-top: 10px; width: 100%; color:#999; border-radius:5px; border:#ececec 1px solid; }
.member .doreg { float: left; padding-top: 10px;}
.member .doreg a { color:#ff512f; font-size: 16px;}

.cr { clear: both;}
.submit { display: block; float: none; clear: both; width: 100%; margin: 0 auto; margin-top: 20px; background: #074470; color: #fff; font-size: 20px; text-align: center; height: 50px; border-radius:5px; border: 0; line-height: 50px;}

 

.body .top {
	background-color: #486590; 
    height: 2rem;
    line-height: 2rem;
}

.body .top ul li{
	display: block;
    float:left;
    text-align: center;
    padding:0 0.5rem; 
}

.body .top ul li a{
	color: #fff;
    font-size: 0.7rem;
}

.body .member .box ul li {
    border-bottom: 1px solid #ececec;
    display: block;
    height: 50px; 
    margin: 10px 0px;
}