
{(mg/header.html)} 
<style>
    .member .box{  text-align:center;}
</style>
<div class="member">
    <div class="box">
        <ul> 
            <li > 
                <div >
                    {% if userinfo['face'] then %}
                        <img alt="当前头像" style=" height: 1rem;" src="{{userinfo['face']}}"> 
                    {% else %}  
                        <img  alt="当前头像" style=" height: 1rem;" src="/static/wap/img/portrait.jpg"> 
                    {% end %} 
                    <br/>
                    <span><a href="/user/info"> {{userinfo['nickname']}}</a></span>
                </div>  
                    
            </li>
                
        </ul>    
    </div> 
     
    <div class="box">
        <ul> 
            <li>  
                <div><a href="#"> 关于我们 </a></div>  
            </li> 
        </ul>    
    </div> 

    <div class="box">
        <ul> 
            <li>  
                <span class="submit"><a href="/auth/logout">退出</a></span>
            </li> 
        </ul>    
    </div> 
   
</div>
    
{(mg/footer.html)}